
ngxs-inplace-loading {

  max-width: 20px !important;
  max-height: 20px !important;
}

 img.loading-indicator {

   max-width: 20px !important;
   max-height: 20px !important;
   background-color: red;
 }
